<% for post in @posts %>

<div id="post_<%= post.id %>">
	<div class="well">
		<%= post.created_at %>
		<h3><%= post.title %></h3>
		<%= post.content %>

		<hr>
		<div class="pull-right">
			<%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %>
			<%= link_to 'Delete', post, method: 'delete', class: 'btn btn-danger' %>
		</div>
	</div>
</div>

<% end %>
