<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/">Homepage</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
    <%= link_to 'New post', new_post_path, class: "btn btn-success pull-right" %>
  </div>
</div>

<div id="wrapper">
	<% flash.each do |name, message| %>
		<div class="alert alert-success" id="flash_<%= name %>">
			<%= message %>
		</div>
	<% end %>

	<div class="row">
		<div id="content" class="span8 offset1">
			<%= yield %>
		</div>
		
		<div id="sidebar" class="span3">
		</div>
	</div>
</div>

</body>
</html>
